<form>
  <div class="input-group">
    <p><label for="initial-investment">Initial Investment</label></p>
    <input id="initial-investment" type="number" />
  </div>
  <div class="input-group">
    <p><label for="annual-investment">Annual Investment</label></p>
    <input id="annual-investment" type="number" />
  </div>
  <div class="input-group">
    <p><label for="expected-return">Expected Return</label></p>
    <input id="expected-return" type="number" />
  </div>
  <div class="input-group">
    <p><label for="duration">Duration</label></p>
    <input id="duration" type="number" />
  </div>
  <button>Calculate</button>
</form>
